<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Character</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylecp.css') }}"">
</head>
<body>
    <div class="navbar">
        <a href="#ancestral" onclick="showSection('ancestral')">Ancestral</a>
        <a href="#sub-ancestral" onclick="showSection('sub-ancestral')">Sub-Ancestral</a>
        <a href="#estilo" onclick="showSection('estilo')">Estilo</a>
        <a href="#classe" onclick="showSection('classe')">Classe</a>
        <a href="#sub-classe" onclick="showSection('sub-classe')">Sub-Classe</a>
        <a href="#guilda" onclick="showSection('guilda')">Guilda</a>
        <a href="#profissao" onclick="showSection('profissao')">Profissão</a>
        <a href="#atributos-pericias" onclick="showSection('atributos-pericias')">Atributos e Perícias</a>
        <a href="#resumo" onclick="showSection('resumo')">Resumo</a>
    </div>

    <div id="ancestral-section" class="hidden">
        <h1>Selecione seu Ancestral</h1>
        <div class="card-container" id="ancestral-cards">
            <div class="card" data-ancestral="1">
                <img src="{{ url_for('static', filename='img/ance/Anjo.jpg')}}" alt="Angelical">
                <h2>Angelical</h2>
            </div>
            <div class="card" data-ancestral="2">
                <img src="{{ url_for('static', filename='img/ance/besset.jpg')}}" alt="Besset">
                <h2>Besset</h2>
            </div>
            <div class="card" data-ancestral="3">
                <img src="{{ url_for('static', filename='img/ance/dyr.jpg')}}" alt="Dyr">
                <h2>Dyr</h2>
            </div>
            <div class="card" data-ancestral="4">
                <img src="{{ url_for('static', filename='img/ance/elare.jpg')}}" alt="Elare">
                <h2>Elare</h2>
            </div>
            <div class="card" data-ancestral="5">
                <img src="{{ url_for('static', filename='img/ance/humano.jpg')}}" alt="Humano">
                <h2>Humano</h2>
            </div>
            <div class="card" data-ancestral="6">
                <img src="{{ url_for('static', filename='img/ance/metamorfo.jpg')}}" alt="Metamorfo">
                <h2>Metamorfo</h2>
            </div>
            <div class="card" data-ancestral="7">
                <img src="{{ url_for('static', filename='img/ance/oni.jpg')}}" alt="Oni">
                <h2>Oni</h2>
            </div>
            <div class="card" data-ancestral="8">
                <img src="{{ url_for('static', filename='img/ance/ogro.jpg')}}" alt="Ogros">
                <h2>Ogro</h2>
            </div>
            <div class="card" data-ancestral="9">
                <img src="{{ url_for('static', filename='img/ance/constructo.jpg')}}" alt="Constructo">
                <h2>Constructo</h2>
            </div>
        </div>
        <button id="next-button-ancestral" class="button hidden">Next</button>
    </div>

    <div id="sub-ancestral-section" class="section hidden">
        <h1>Selecione seu Sub-Ancestral</h1>
        <div class="card-container" id="sub-ancestral-cards"></div>
        <button id="back-button-sub-ancestral" class="button">Back</button>
        <button id="next-button-sub-ancestral" class="button hidden" disabled>Next</button>
    </div>

    <div id="estilo-section">
        <h1>Selecione seu Estilo</h1>
        <div class="card-container" id="estilo-cards">
            <!-- Estilo cards aqui -->
            <div class="card" data-estilo="1">
                <img src="corpo-a-corpo.png" alt="Corpo-a-Corpo">
                <h2>Corpo-a-Corpo</h2>
                <p>Especializado em combate próximo.</p>
            </div>
            <div class="card" data-estilo="2">
                <img src="distancia.png" alt="Distancia">
                <h2>Distância</h2>
                <p>Especializado em ataques à distância.</p>
            </div>
            <div class="card" data-estilo="3">
                <img src="magico.png" alt="Magico">
                <h2>Mágico</h2>
                <p>Especializado em magia e feitiços.</p>
            </div>
        </div>
        <button id="back-button-estilo" class="button">Back</button>
        <button id="next-button-estilo" class="button hidden">Next</button>
    </div>

    <div id="classe-section" class="section hidden">
        <h1>Selecione sua Classe</h1>
        <div class="card-container" id="classe-cards">
            <!-- Os cards de classes serão carregados dinamicamente -->
        </div>
        <button id="back-button-classe" class="button">Back</button>
        <button id="next-button-classe" class="button hidden" disabled>Next</button>
    </div>

    <div id="sub-classe-section" class="section hidden">
        <h1>Selecione sua Sub-Classe</h1>
        <div id="sub-classe-container"></div>
        <button id="back-button-sub-classe" class="button">Back</button>
        <button id="next-button-sub-classe" class="button hidden" disabled>Next</button>
    </div>    

    <div id="guilda-section" class="section hidden">
        <h1>Selecione sua Guilda</h1>
        <div class="card-container" id="guilda-cards">
            <!-- Os cards de guildas serão carregados dinamicamente -->
        </div>
        <button id="back-button-guilda" class="button">Back</button>
        <button id="next-button-guilda" class="button hidden">Next</button>
    </div>

    <div id="profissao-section" class="section hidden">
        <h1>Selecione sua Profissão</h1>
        <div class="card-container" id="profissao-cards">
            <!-- Os cards de profissões serão carregados dinamicamente -->
        </div>
        <button id="back-button-profissao" class="button">Back</button>
        <button id="confirm-button-profissao" class="button hidden" disabled>Confirm Select</button>
    </div>

    <div id="atributos-pericias-section" class="hidden">
        <div class="attribute-container">
            <div class="level-points">
                <div class="level-card">
                    <h3>Nível</h3>
                    <div class="level-value" id="nivel-value">1</div>
                    <button class="decrement attribute-card-button" data-target="nivel">-</button>
                    <button class="increment attribute-card-button" data-target="nivel">+</button>
                </div>
                <div class="points-card">
                    <h3>Pontos Restantes</h3>
                    <div class="points-value" id="pontos-restantes">3</div>
                </div>
            </div>
            <div class="atributos">
                <div class="attribute-card">
                    <h3>Força</h3>
                    <div class="attribute-value" id="forca-value">1</div>
                    <button class="decrement" data-target="forca">-</button>
                    <button class="increment" data-target="forca">+</button>
                </div>
                <div class="attribute-card">
                    <h3>Agilidade</h3>
                    <div class="attribute-value" id="agilidade-value">1</div>
                    <button class="decrement" data-target="agilidade">-</button>
                    <button class="increment" data-target="agilidade">+</button>
                </div>
                <div class="attribute-card">
                    <h3>Inteligência</h3>
                    <div class="attribute-value" id="inteligencia-value">1</div>
                    <button class="decrement" data-target="inteligencia">-</button>
                    <button class="increment" data-target="inteligencia">+</button>
                </div>
                <div class="attribute-card">
                    <h3>Presença</h3>
                    <div class="attribute-value" id="presenca-value">1</div>
                    <button class="decrement" data-target="presenca">-</button>
                    <button class="increment" data-target="presenca">+</button>
                </div>
            </div>
        </div>   
        
        <div class="borda"></div>   

        <div class="pericias-container">
            <div class="profissao-pericias">
                <h3>Perícias da Profissão</h3>
                <div id="profissao-pericias-container"></div>
            </div>
            <div class="ancestry-pericias">
                <h3>Perícias do Ancestral</h3>
                <div id="ancestry-pericias-container"></div>
            </div>           
        </div>

        <div id="habilidoso-pericias-section" class="hidden">
            <h3>Escolha duas perícias adicionais (exceto de percepção)</h3>
            <div id="habilidoso-pericias-container"></div>
        </div> 

        <div id="habilidoso-error-message" class="hidden" style="color: red;">Você pode selecionar no máximo 3 perícias.</div>
        <div id="ancestry-error-message" class="hidden" style="color: red;">Você pode selecionar no máximo 1 perícia.</div>

        <div class="borda"></div>
        
        <div class="skills-container">
            <div class="skills-column" id="todas-pericias-container">
                <h3>Coordenação</h3>
                <div class="skills-header">
                    <div class="span-1"><span>Trei</span><span>Atri</span></div>
                    <div class="span-2"><span>Perícia</span></div>
                    <div class="span-3"><span>Bônus</span><span>D20</span></div>
                </div>
                <div class="skills-list" id="coordenacao-pericias-todas">
                    <!-- Todas as Perícias de Coordenação aqui -->
                </div>
            </div>
            <div class="borda-skill"></div>
            <div class="skills-column">
                <h3>Sabedoria</h3>
                <div class="skills-header">
                    <div class="span-1"><span>Trei</span><span>Atri</span></div>
                    <div class="span-2"><span>Perícia</span></div>
                    <div class="span-3"><span>Bônus</span><span>D20</span></div>
                </div>
                <div class="skills-list" id="sabedoria-pericias-todas">
                    <!-- Todas as Perícias de Sabedoria aqui -->
                </div>
            </div>
            <div class="borda-skill"></div>
            <div class="skills-column">
                <h3>Social</h3>
                <div class="skills-header">
                    <div class="span-1"><span>Trei</span><span>Atri</span></div>
                    <div class="span-2"><span>Perícia</span></div>
                    <div class="span-3"><span>Bônus</span><span>D20</span></div>
                </div>
                <div class="skills-list" id="social-pericias-todas">
                    <!-- Todas as Perícias de Social aqui -->
                </div>
            </div>
            <div class="borda-skill"></div>
            <div class="skills-column">
                <h3>Percepção</h3>
                <div class="skills-header">
                    <div class="span-1"><span>Trei</span><span>Atri</span></div>
                    <div class="span-2"><span>Perícia</span></div>
                    <div class="span-3"><span>Bônus</span><span>D20</span></div>
                </div>
                <div class="skills-list" id="percepcao-pericias-todas">
                    <!-- Todas as Perícias de Percepção aqui -->
                </div>
            </div>
        </div>        
        <button id="next-button-atributos-pericias" class="button hidden">Proximo</button>
    </div>       

    <div id="resumo-section" class="section hidden">
        <h1>Resumo das Escolhas</h1>
        <div class="card-container" id="resumo-cards">
            <!-- Os cards de resumo serão carregados dinamicamente -->
        </div>
        <div class="form-group">
            <label for="nome-personagem">Nome do Personagem:</label>
            <input type="text" id="nome-personagem" name="nome-personagem" required>
        </div>
        <button id="back-button-resumo" class="button">Back</button>
        <button id="create-character-button" class="button">Criar Personagem</button>
    </div>    

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>