<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleperfil.css') }}"">
</head>
<body>
    <img class="backgroundsite" src="{{ url_for('static', filename='img/LE background.png') }}" alt="Background Image" />
    <header>
        <div class="logo">
            <img class="LeLogoNome" src="{{ url_for('static', filename='img/logobranca.png') }}" alt="Logo" />  
            <span></span>
        </div>
        <div class="tdheader">
            <div class="links">
                
                <div><a href="#">Mundo</a></div>
                <div><a href="#">Wiki</a></div>
                <div><a href="#">Comunidade</a></li></div>
                <div><a href="#">Contato</a></li></div>
                
            </div>
        
            <div class="headerbuttons">
                <div>
                    <a href="{{ url_for('main.logout') }}">
                    <button class="logout">Log out</button>
                    </a>
                </div>
                <div>
                    <button class="play">PLAY</button>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="site">
            <h1>Bem Vindo {{ name }} !</h1>
        
            <div class="criarpersonagem">
                <h2>Seu Perfil</h2>
                <h3>Seus Personagens</h3>
                <div class="card-container">
                    {% for character in characters %}
                        <div class="card">
                            <img src="{{ url_for('static', filename='img/perfildefault.png') }}" alt="Default Image">
                            <h2>{{ character.name }}</h2>
                            <p>Classe: {{ character.classe.name }}</p>
                            <a href="{{ url_for('main.ficha_personagem', character_id=character.id) }}" class="open-ficha-btn">Abrir ficha</a>
                        </div>
                    {% endfor %}
                </div>
                <a class="criar" href="{{ url_for('main.criarpersonagem') }}">Crie um novo Personagem</a>
            </div>
        </div>
    </main>
</body>
</html>
