* {
    color: white;
}

body {
    position: relative;
    margin: 0;
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
}

header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: rgb(2, 2, 2);
    padding-left: 20px;
    padding-right: 30px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 700;
}

h1, h2, h3, h4, h5 {
    color: white;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
}
p {
    display: flex;
    justify-content: center;
    align-items: center;
}
span {
    color: white;
}
.clear {
    clear: both;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.criar {
    display: flex;
    justify-content: center;
}

.site {
    display: flex;
    position: relative;
    overflow: auto;
    height: 100%;
}

.LeLogoNome {
    height: 70px;
    width: 100px;
}

.tdheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 73px;
}

.links {
    display: flex;
    gap: 10px;
}

.headerbuttons {
    display: flex;
    gap: 15px;
}

.logout, .play {
    color: white;
    border: none;
    background-color: black;
    font-weight: 700;
}

.backgroundsite {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}

.character-sheet {
    display: flex;
    width: 100%;
}

.navbar {
    height: 100vh;
    width: 200px;
    background-color: #2c2c2c;
    padding: 20px;
}

.navbar a {
    display: block;
    color: white;
    padding: 10px 0;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #555;
}

.content {
    flex-grow: 1;
    padding: 10px 20px;
}

.caixaresumo {
    text-align: center;
    padding: 5px;
    border: 2px solid white;
    font-size: 1.3rem;
}

p.caixaresumo {
    margin: 5px 0;
}

.resumo_personagem {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colunas de tamanho igual */
    grid-template-rows: repeat(2, auto); /* 2 linhas */
    gap: 10px;
    justify-content: center;
    background-color: black;
    border-radius: 10px;
    padding: 10px; /* Adicionando preenchimento para melhor espaçamento */
    width: 98%; /* Garantir que a div use toda a largura disponível */
}

.stats-box {
    padding: 10px;
    border: 2px solid white;
    font-size: 1.1rem;
}

/* Estilizando a barra de rolagem para navegadores baseados em WebKit */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #2c2c2c;
}

::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 10px;
    border: 2px solid #2c2c2c;
}

/* Para navegadores Firefox */
html {
    scrollbar-width: thin;
    scrollbar-color: #555 #2c2c2c;
}

.element-info table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px ;
}

.element-info th, .element-info td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.element-info th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.atributos {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.atributo {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 10px;
    border: 2px solid white;
    flex: 1; /* Faz com que todos os itens ocupem o mesmo espaço */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70px; /* Define uma largura fixa */
}

.atributo-box {
    display: inline-block;
    background-color: white;
    border: 2px solid red;
    border-radius: 10px;
    padding: 5px 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.atributo-box span {
    color: black;
}

/* Grid layout para a página da ficha do personagem */
.grid-container {
    display: grid;
    grid-template-areas:
        "header header header header header header header header stats-container stats-container"
        "header header header header header header header header stats-container stats-container"
        "attributes attributes combate combate combate traits traits traits traits traits"
        "attributes attributes combate combate combate traits traits traits traits traits"
        "photo photo proficiencies proficiencies proficiencies traits traits traits traits traits"
        "photo photo skills skills skills skills skills skills skills skills"
        "photo photo skills skills skills skills skills skills skills skills"
        "photo photo skills skills skills skills skills skills skills skills"
        "photo photo skills skills skills skills skills skills skills skills"
        "photo photo skills skills skills skills skills skills skills skills";
    grid-gap: 10px;
    width: 100%;
}

.grid-item {
    background-color: black;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    opacity: 0.85;
}

.grid-item.header {
    grid-area: header;
    display: grid;
    gap: 10px;
}

.grid-item.stats-container {
    grid-area: stats-container;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colunas */
    grid-template-rows: repeat(2, auto); /* 2 linhas */
    gap: 10px;
    background-color: black;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.stats-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.grid-item.attributes {
    grid-area: attributes;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    flex-direction: column;
}

.fisicomental {
    display: flex;
    justify-content: space-around;
}

.grid-item.photo {
    grid-area: photo;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.grid-item.photo img {
    max-width: 60%;
    max-height: 100%;
    border-radius: 10px;
    height: 600px;
}

.grid-item.combate {
    grid-area: combate;
    background-color: black;
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    opacity: 0.85;
}

.grid-item.combate p {
    margin: 10px 0;
}

.grid-item.combate .atributo-combate {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: black;
    color: white;
    margin: 10px 0;
}

.vidaesquiva {
    display: flex;
    justify-content: space-evenly;
}

.vida-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: black;
    color: white;
    margin: 10px 0;
    flex-direction: column;
}

.vida-container, .pm-container {
    display: flex;
    gap: 15px;
}

.vida-buttons, .pm-buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.heal-button, .damage-button, .gain-button, .spend-button {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    padding: 5px;
    cursor: pointer;
}

.heal-button:hover {
    background-color: rgb(55, 214, 23);
    color: white;
}

.damage-button:hover {
    background-color: rgb(236, 15, 15);
    color: white;
}

.gain-button:hover {
    background-color: rgb(27, 74, 204);
    color: white;
}

.spend-button:hover {
    background-color: rgb(236, 15, 15);
    color: white;
}

.vida-info, .pm-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
}

.vida-current-max, .pm-current-max {
    display: flex;
    align-items: baseline;
    gap: 5px;
    font-weight: bold;
}

.vida-temp {
    font-size: 1rem;
    color: white;
    font-weight: bold;
}

.vida-temp input, .pm-temp input {
    color: black;
    width: 30px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.vida-label, .pm-label {
    margin-top: 0px;
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

.vida-section span, .pm-section span {
    color: white;
}

.pmarmadura {
    display: flex;
    justify-content: space-evenly;
}

.pm-container {
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
}

.pm-label {
    width: 10%;
}
.grid-item.proficiencies {
    grid-area: proficiencies;
}

.proficiencies-container {
    display: flex;
    justify-content: space-between;
}

.proficiency-list {
    list-style-type: disc;
    padding: 0 20px;
    width: 50%;
}

.grid-item.skills {
    grid-area: skills;
}

.grid-item.traits {
    grid-area: traits;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alinhar conteúdo ao início */
    align-items: stretch; /* Esticar para preencher a largura */
    gap: 10px;
    padding: 10px;
    background-color: black;
    border-radius: 10px;
    border: 2px solid white;
    opacity: 0.85;
}

.trait-field label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.trait-field textarea {
    width: 95%;
    border: 2px solid white;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    resize: none;
}
#save-traits-button {
    background-color: black;
    border: 2px solid white;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 4px 8px;
    font-size: 16px;
    margin: 0px 14px;
    cursor: pointer;
    border-radius: 5px;
}

#save-traits-button.visible {
    display: inline-block;
}
#saved-button {
    background-color: black;
    border: 2px solid white;
    display: none;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 4px 8px;
    font-size: 16px;
    margin: 0px 14px;
    border-radius: 5px;
    cursor: default;
}

#saved-button::after {
    content: "✔";
}
.hidden {
    display: none;
}